 <div class="row justify-content-center mb-3 mt-5 bg-secondary rounded-3 mx-auto my-auto border border-dark" style="width:700px">
   <h1 id="infoHolder" data-id="{{id}}">Welcome {{first_name}}: To Co-Calendar!</h1>

  <div class="row ">
    <h2>Enter your calendar code.</h2>
      <form class="form-login">
          <div class="mb-3">
            <input class="form-control" type="text" id="code_id"/>
          </div>
          <div class="input-group">
            <button class="btn btn-primary btn-submit border border-dark mb-3" type="button" id="goToCal">Go to Calendar</button>
            <button type="button" class="btn btn-primary border border-dark mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal"> Create New Calendar </button>
          </div>
      </form>
  </div>
</div>

  <div class="row justify-content-center mb-3 mt-2 bg-secondary rounded-3 mx-auto border border-dark" style="width:700px">
    <h2 id="code-holder">Your Calendar Code Will Display Here.</h2>
  </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                        <form id="myForm" class="needs-validation">
                            <div class="container">

                                <div class="form-group row">
                                    <label for="id" class="col-sm-2 col-form-label">Title</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name_id" name="Title" placeholder="Enter the title of the Event" required />
                                    </div>
                                </div>

                                 <div class="text-center">
                                 <button class="btn btn-success" type="submit" id="submit" data-bs-dismiss="modal">Submit</button>
                                 </div>
                            </div>
                        </form>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/createCalendar.js"></script>