<div>
  <h1 id="infoHolder" data-id="{{id}}">Welcome {{first_name}}</h1>
</div>
    <div>
        <h2>Go to your Calendar</h2>
        <form class="form-login">
            <div class="input-group">
                <label>Calendar Code:</label>
                <input class="form-input" type="text" id="code_id"/>
            </div>
            <div class="input-group">
                <button class="btn-submit" type="button" id="goToCal">Login</button>
            </div>
        </form>
    </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Create New Calendar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                        <form id="myForm" class="needs-validation">
                            <div class="container">

                                <div class="form-group row">
                                    <label for="id" class="col-sm-2 col-form-label">Title</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name_id" name="Title" placeholder="Enter the title of the Event" required />
                                    </div>
                                </div>

                                 <div class="text-center">
                                 <button class="btn btn-success" type="submit" id="submit" data-bs-dismiss="modal">Submit</button>
                                 </div>
                            </div>
                        </form>
      </div>
    </div>
  </div>
</div>



<script src="/scripts/createCalendar.js"></script>