<div id='calendar-container' data-id="{{id}}">
  <div id='calendar'></div>
</div>
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title w-100 text-center"> New Event </h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <!-- adding Bootstrap Form here -->

                        <form id="myForm" class="needs-validation">
                            <div class="container">

                                <div class="form-group row">
                                    <label for="id" class="col-sm-2 col-form-label">Title</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name_id" name="Title" placeholder="Enter the title of the Event"/>
                                    </div>
                                </div>

                                 <div class="text-center">
                                 <button class="btn btn-success" type="submit" id="submit">Submit</button>
                                 </div>
                            </div>
                        </form>

                        <script>
                           
                        </script>
                    </div>
                </div>
            </div>
        </div>

<script src="/scripts/calendar.js"></script>